@media (max-width: 500px) {
    body {
        padding: 0px 20px;
    }

    #check-input {
        width: 100% !important;
    }

    #info-text {
        width: 100%;
    }

    #collection {
        width: 100% !important;
    }

    h1 {
        flex-direction: column;
    }

    footer {
        bottom: 0px !important;
        right: 0px !important;
        width: 100%;
        background-color: white;
    }
}

@media (min-width: 500px) and (max-width: 800px) {
    #info-text {
        padding: 0px 10px;
    }
}

html, body {
    text-align: center;
    background-color: #ecf0f1;
    font-family: 'Cabin', Arial, sans-serif;
    margin: 0px;
}

h1 {
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 > img {
    height: 58px;
}

#check-input {
    box-sizing: border-box;
    margin: 20px 0px;
    font-size: 1.5em;
    width: 480px;
    text-align: center;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
}

button {
    background-color: #27ae60;
    color: white;
    font-family: 'Cabin', Arial, sans-serif;
    border-style: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

#check-button {
    font-size: 2em;
}

#check-button:hover {
    background-color: #2ecc71;
}

#check-button:active {
    transform: scale(0.95);
}

#result {
    font-size: 1.2em;
    margin-top: 20px;
}

#result-negative {
    color: #c0392b;
}

#info-text {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    font-size: 0.8em;
    position: fixed;
    bottom: 5px;
    right: 5px;
}

#collection {
    /* width: 500px; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#collection .video-container {
    flex: 0 1 500px;
}

#collection .video {
    box-sizing: border-box;
    background-color: white;
    padding: 20px;
    text-align: left;
    /* margin-bottom: 30px; */
    margin: 10px;
    position: relative;
    border-width: 1px;
    border-color: #404040;
    border-style: solid;
}

/* #collection .video::after {
    content: "\25CF";
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: -23px;
    left: 0px;
    display: block;
    width: 100%;
    text-align: center;
    color: grey;
} */

#collection .video:last-of-type::after {
    content: "";
}

#collection .video .title {
    font-size: 1.2em;
}

#collection .video .channel {
    font-size: 0.7em;
    color: grey;
}

#collection .video .content {
    margin-top: 5px;
}

#collection .video .meta {
    font-size: 0.8em;
    margin-top: 10px;
    color: grey;
}

#collection .video .meta span {
    display: block;
}

#collection .video .meta a {
    color: grey;
}

.order-button {
    display: inline-block;
    margin-bottom: 10px;
}